<html>
  <head>
    <title>OPEN ORDER</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="landscape">
      <h2 style="text-align:center">Jadwal CoEx 90K</h2>
      <div class="container col-sm-6 col-md-5 toscroll_order">
        <table class="table table-bordered table-striped">
          <caption><h3 align="center"><b>List Order Diterima 90K</b></h3></caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID/Nomor PO</th>
              <th scope="col">Product Name</th>
              <th scope="col">Item Description</th>
              <th scope="col">U of M</th>
              <th scope="col">Quantity</th>
              <th scope="col">Keterangan</th>
              <th scope="col">Tggl Pengiriman</th>
            </tr>
          </thead>
          {% for item in order %}
          <tr>
            <td>{{ item.Nomor_PO }}</td>
            <td>{{ item.Product_Name }}</td>
            <td>{{ item.Item_desc }}</td>
            <td>{{ item.U_of_m }}</td>
            <td>{{ item.Qty }}</td>
            <td>{{ item.Keterangan }}</td>
            <td>{{ item.Tggl_Pengiriman }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="container col-sm-6 col-md-7 toscroll_production">
        <table class="table table-bordered table-striped">
          <caption><h3 align="center"><b>List Produksi Berjalan</b></h3></caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID/Nomor PO</th>
              <th scope="col">Product Name</th>
              <th scope="col">Item Description</th>
              <th scope="col">U of M</th>
              <th scope="col">Quantity</th>
              <th scope="col">Keterangan</th>
              <th scope="col">Tggl Pengiriman</th>
              <th scope="col">Diproduksi oleh</th>
            </tr>
          </thead>
          {% for item in production %}
          <tr>
            <td>{{ item.Nomor_PO }}</td>
            <td>{{ item.Product_Name }}</td>
            <td>{{ item.Item_desc }}</td>
            <td>{{ item.U_of_m }}</td>
            <td>{{ item.Qty }}</td>
            <td>{{ item.Keterangan }}</td>
            <td>{{ item.Tggl_Pengiriman }}</td>
            <td>{{ item.Mesin }}</td>
          </tr>
          {% endfor %}
        </table>
      </div><br>
      <div class="container col-md-5">
      </div>
      <div class="container col-md-7">
        <h2>
          Hasil Produksi Terakhir {{ complete.Tggl_Selesai_Produksi }}: <br>
          <b>Nomor PO: {{ complete.Nomor_PO }}</b><br>
          <b>Mesin: {{ complete.Mesin }} - {{ complete.Batch_Output_Berat }}ton - {{ complete.Batch_Output_Panjang }}kg - {{ complete.Batch_Output_Roll }}roll</b>
        </h2>
      </div>
      <div class="container col-md-12">
        <a href="/admin"><button>admin entrance</button></a><br>
        <a href="/order_entry"><button>order entry</button></a><br>
        <a href="/order_modify"><button>order modify</button></a><br>
        <a href="/machine_select"><button>machine select</button></a><br>
        <a href="/production_finish"><button>production finish</button></a><br>
        <a href="/sales_portal"><button>sales portal</button></a><br>
        <a href="/ppic_portal"><button>ppic portal</button></a><br>
      </div>
    </div>
    
<!--#################################PORTRAIT MODE###################################3-->
    <div class="portrait">
      <h1 align="center">Open Order ATK90K Trial ver.</h1>
      <div class="container col-md-12 toscroll_order">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID/Nomor PO</th>
              <th scope="col">Product Name</th>
              <th scope="col">Item Description</th>
              <th scope="col">U of M</th>
              <th scope="col">Quantity</th>
              <th scope="col">Keterangan</th>
              <th scope="col">Tggl Pengiriman</th>
            </tr>
          </thead>
          {% for item in order %}
          <tr>
            <td>{{ item.Nomor_PO }}</td>
            <td>{{ item.Product_Name }}</td>
            <td>{{ item.Item_desc }}</td>
            <td>{{ item.U_of_m }}</td>
            <td>{{ item.Qty }}</td>
            <td>{{ item.Keterangan }}</td>
            <td>{{ item.Tggl_Pengiriman }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="container col-md-7">
        <h2>
          Hasil Produksi Terakhir {{ complete.Tggl_Selesai_Produksi }}: <br>
          <b>Nomor PO: {{ complete.Nomor_PO }}</b><br>
          <b>Mesin: {{ complete.Mesin }} - {{ complete.Batch_Output_Berat }}ton - {{ complete.Batch_Output_Panjang }}kg - {{ complete.Batch_Output_Roll }}roll</b>
        </h2>
      </div>
      <div class="container col-md-12 toscroll_production">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID/Nomor PO</th>
              <th scope="col">Product Name</th>
              <th scope="col">Item Description</th>
              <th scope="col">U of M</th>
              <th scope="col">Quantity</th>
              <th scope="col">Keterangan</th>
              <th scope="col">Tggl Pengiriman</th>
              <th scope="col">Diproduksi oleh</th>
            </tr>
          </thead>
          {% for item in production %}
          <tr>
            <td>{{ item.Nomor_PO }}</td>
            <td>{{ item.Product_Name }}</td>
            <td>{{ item.Item_desc }}</td>
            <td>{{ item.U_of_m }}</td>
            <td>{{ item.Qty }}</td>
            <td>{{ item.Keterangan }}</td>
            <td>{{ item.Tggl_Pengiriman }}</td>
            <td>{{ item.Mesin }}</td>
          </tr>
          {% endfor %}
        </table>
      </div><br>
      <div class="container col-md-5">
      </div>
      <div class="container col-md-12">
        <a href="/admin"><button>admin entrance</button></a><br>
        <a href="/order_entry"><button>order entry</button></a><br>
        <a href="/order_modify"><button>order modify</button></a><br>
        <a href="/machine_select"><button>machine select</button></a><br>
        <a href="/production_finish"><button>production finish</button></a><br>
        <a href="/sales_portal"><button>sales portal</button></a><br>
        <a href="/ppic_portal"><button>ppic portal</button></a><br>
      </div>

    </div>
  </body>
</html>