<html>
  <head>
    <title>Update Status Mesin</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <div align="center">
      <h2 align="center"><b>Status Mesin CoEx 90K</b></h2>
      <!--<div style="width: 20%">-->
        <!--padding-->
      <!--</div>-->
      <div class="container col-md-12">
        <div class="container col-md-6" id="machine_status_top">
          <table class="table table-bordered table-striped">
            <caption><h3>CoEx 2</h3></caption>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                <th scope="col">Waktu</th>
              </tr>
            </thead>
            {% for item in coex2 %}
            <tr>
              {% if item.Status == "Running" %}
                <td style="background-color: #5cb85c"> <!-- Machine is running -->
              {% elif item.Status == "in Maintenance" %}
                <td style="background-color: #5bc0de"> <!-- Machine is in Maintenance -->
              {% elif item.Status == "Out of Service" %}
                <td style="background-color: #d9534f"> <!-- Machine is out of service -->
              {% elif item.Status == "Stopped" %}
                <td style="background-color: #f0ad4e"> <!-- Machine is stopped -->
              {% else %}
                <td>
              {% endif %}
              <b>{{ item.Status }}</b></td>
              <td>{{ item.Remarks }}</td>
              <td>{{ item.Timestamp }}</td>
            </tr>
            {% endfor %}
          </table><br>
        </div>
        <div class="container col-md-6" id="machine_status_top">
          <table class="table table-bordered table-striped">
            <caption><h3>CoEx 3</h3></caption>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                <th scope="col">Waktu</th>
              </tr>
            </thead>
            {% for item in coex3 %}
            <tr>
              {% if item.Status == "Running" %}
                <td style="background-color: #5cb85c"> <!-- Machine is running -->
              {% elif item.Status == "in Maintenance" %}
                <td style="background-color: #5bc0de"> <!-- Machine is in Maintenance -->
              {% elif item.Status == "Out of Service" %}
                <td style="background-color: #d9534f"> <!-- Machine is out of service -->
              {% elif item.Status == "Stopped" %}
                <td style="background-color: #f0ad4e"> <!-- Machine is stopped -->
              {% else %}
                <td>
              {% endif %}
              <b>{{ item.Status }}</b></td>
              <td>{{ item.Remarks }}</td>
              <td>{{ item.Timestamp }}</td>
            </tr>
            {% endfor %}
          </table><br>
        </div>
      </div>
      <div class="conatiner col-md-12">
        <div class="container col-md-4" id="machine_status_bot">
          <table class="table table-bordered table-striped">
            <caption><h3>CoEx 4</h3></caption>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                <th scope="col">Waktu</th>
              </tr>
            </thead>
            {% for item in coex4 %}
            <tr>
              {% if item.Status == "Running" %}
                <td style="background-color: #5cb85c"> <!-- Machine is running -->
              {% elif item.Status == "in Maintenance" %}
                <td style="background-color: #5bc0de"> <!-- Machine is in Maintenance -->
              {% elif item.Status == "Out of Service" %}
                <td style="background-color: #d9534f"> <!-- Machine is out of service -->
              {% elif item.Status == "Stopped" %}
                <td style="background-color: #f0ad4e"> <!-- Machine is stopped -->
              {% else %}
                <td>
              {% endif %}
              <b>{{ item.Status }}</b></td>
              <td>{{ item.Remarks }}</td>
              <td>{{ item.Timestamp }}</td>
            </tr>
            {% endfor %}
          </table><br>
        </div>
        <div class="container col-md-4" id="machine_status_bot">
          <table class="table table-bordered table-striped">
            <caption><h3>CoEx 5</h3></caption>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                <th scope="col">Waktu</th>
              </tr>
            </thead>
            {% for item in coex5 %}
            <tr>
              {% if item.Status == "Running" %}
                <td style="background-color: #5cb85c"> <!-- Machine is running -->
              {% elif item.Status == "in Maintenance" %}
                <td style="background-color: #5bc0de"> <!-- Machine is in Maintenance -->
              {% elif item.Status == "Out of Service" %}
                <td style="background-color: #d9534f"> <!-- Machine is out of service -->
              {% elif item.Status == "Stopped" %}
                <td style="background-color: #f0ad4e"> <!-- Machine is stopped -->
              {% else %}
                <td>
              {% endif %}
              <b>{{ item.Status }}</b></td>
              <td>{{ item.Remarks }}</td>
              <td>{{ item.Timestamp }}</td>
            </tr>
            {% endfor %}
          </table><br>
        </div>
        <div class="container col-md-4" id="machine_status_top">
          <table class="table table-bordered table-striped">
            <caption><h3>CoEx 6</h3></caption>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                <th scope="col">Waktu</th>
              </tr>
            </thead>
            {% for item in coex6 %}
            <tr>
              {% if item.Status == "Running" %}
                <td style="background-color: #5cb85c"> <!-- Machine is running -->
              {% elif item.Status == "in Maintenance" %}
                <td style="background-color: #5bc0de"> <!-- Machine is in Maintenance -->
              {% elif item.Status == "Out of Service" %}
                <td style="background-color: #d9534f"> <!-- Machine is out of service -->
              {% elif item.Status == "Stopped" %}
                <td style="background-color: #f0ad4e"> <!-- Machine is stopped -->
              {% else %}
                <td>
              {% endif %}
              <b>{{ item.Status }}</b></td>
              <td>{{ item.Remarks }}</td>
              <td>{{ item.Timestamp }}</td>
            </tr>
            {% endfor %}
          </table><br>
        </div>
      </div>
      <!--<div class="container col-md-1" align="center">-->
        <!--padding-->
      <!--</div>-->
      <h3 align="center">Update Status Mesin</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Update Status</button><!--ngirim k database-->
      </form>
      <a href="/ppic_portal" class="btn btn-danger">Kembali ke Portal</a><br><br>
    </div>
  </body>
</html>