<html>
  <head>
    <title>Masukkan Order</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
      function showNotif() {
        // Get the notif DIV
        var x = document.getElementById("notif");

        // Add the "show" class to DIV
        x.className = "show";

        // After 5 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
      }
      
      // gak jalan
      function hideNotif() {
        var x = document.getElementById("notif")
        setTimeout(() => {
          x.className = "hide";
        }, 5000);
      }
      
      $(document).ready(function() {
        $('.datepicker').datepicker();
      });

    </script>

  </head>
  
  <body>
    {% include "navbar.html" %}
    <div class="container" align="center">
      <h3><b>Masukkan Order Baru</b></h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Masukkan Order</button><!--ngirim k database-->
      </form>
      <a href="/sales_portal" class="btn btn-primary">Kembali ke Portal</a>
      <!--onload nunjukin notif, setelah 5 detik menghilang-->
      <div onload="hideNotif()" id="notif">
        {% if method %}
          Order {{ Nomor_PO }} telah dimasukkan!
        {% endif %}
      </div>
    </div>
  </body>
</html>