<html>
  <head>
    <title>Ubah/Hapus Order</title>
    <script>
      function showNotif() {
        // Get the notif DIV
        var x = document.getElementById("notif");

        // Add the "show" class to DIV
        x.className = "show";

        // After 5 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
      }
      
      // gak jalan
      function hideNotif() {
        var x = document.getElementById("notif")
        setTimeout(() => {
          x.className = "hide";
        }, 5000);
      }
    </script>

  </head>
  
  <body>
    {% include "navbar.html" %}
    <div class="container" align="center">
      <h3><b>Pilih Order Untuk Diubah</b></h3>
      <form name="modify" method="get">
        {{ form.as_p }}
        <!--ngeupdate k database-->
        <button class="btn btn-success" type="submit">Pilih Order</button>
      </form>
      <br>
      <h1>Pilih Order Untuk Dihapus</h1>
      <form name="delete" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!--ngehapus entry di database-->
        <button class="btn btn-danger" type="submit">Hapus Order</button><br>
      </form>
      <a href="/sales_portal" class="btn btn-primary">Kembali ke Portal</a>
      <!--onload nunjukin notif, setelah 5 detik menghilang-->
      <div onload="hideNotif()" id="notif">
        {% if method %}
          Order {{ Nomor_PO }} telah dihapuskan!
        {% endif %}
      </div>
    </div>
  </body>
</html>